# Movie Ratings with `Spark`, and `MLib`

In [1]:
import re
import pandas as pd

> Note that Spark SQL JSON is different from regular JSON. Each row must be self-contained whereas regular/typical JSON is more like a single tree. However, there are ways to work around the issue.

In [15]:
movies = pd.read_table("../Data_Science_Harvard/2014_data/movies.dat", index_col=0)
movies.head()

movies.count()

title                     9423
imdbID                    9423
spanishTitle              9423
imdbPictureURL            9247
year                      9423
rtID                      9126
rtAllCriticsRating        9423
rtAllCriticsNumReviews    9423
rtAllCriticsNumFresh      9423
rtAllCriticsNumRotten     9423
rtAllCriticsScore         9423
rtTopCriticsRating        9423
rtTopCriticsNumReviews    9423
rtTopCriticsNumFresh      9423
rtTopCriticsNumRotten     9423
rtTopCriticsScore         9423
rtAudienceRating          9423
rtAudienceNumRatings      9423
rtAudienceScore           9423
rtPictureURL              9423
dtype: int64

In [15]:
people = sqlContext.read.json("../examples/src/main/resources/people.json")
people.printSchema()

In [17]:
people.registerTemTable("people")

In [7]:
sqlContext.sql("SELECT name from people").show()

In [22]:
jsonRDD = sc.wholeTextFiles("all-world-cup-players.json").map(lambda x: x[1])
jsonRDD.collect()

In [ ]:
js = jsonRDD.map(lambda x: re.sub(r"\s+", "", x, flags=re.UNICODE))