# RDBMS - Using Spark SQL with Python on RDBMS

In [6]:
mysql_df = sqlContext.read.format("jdbc") \
        .option("url", "jdbc:mysql://localhost/uber") \
        .option("driver", "com.mysql.jdbc.Driver") \
        .option("dbtable", "trips") \
        .option("user", "root") \
        .option("password", "mysql").load()

In [ ]:
mysql_df.show()

In [ ]:
mysql_df.printSchema()

## Register a `TempTable`

In [8]:
mysql_df.registerTempTable("trips")

## Now we can query like regular SQL

In [ ]:
sqlContext.sql("SELECT * FROM trips WHERE dispatching_base_number LIKE '%2512%' ").show()